body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  background-image: url('./img/home2.jpg') ;
  background-repeat: no-repeat no-repeat;
}

h1 {
  color: rgb(101, 148, 118);
}

h2 {
  font-variant: small-caps ;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.outros-botoes {
  text-align: center;
}

.button1 {
  border: none;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 68, 6);
  padding: 15px 32px;
}

.button2 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: rgb(0, 68, 6);
  padding: 15px 32px;
}

.button3 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: rgb(0, 68, 6);
  padding: 15px 32px;
}
.button4 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: rgb(0, 68, 6);
  padding: 15px 32px;

}

#fname {
  border-radius: 20px;
}

#lname {
  border-radius: 20px;
}

#tname {
  border-radius: 20px;
}

h2 {
  color: rgb(101, 148, 118);
}
 
h3 {
  color: rgb(133, 231, 169);
}
